.Placar{
    width: 350px;
    height: 350px;
    border: 1px solid black;
    display: flex;
    background-color: rgb(87, 3, 20);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1{
        color: rgb(180, 12, 124);
    }
    h3{
        font-size: 30pt;
    }
    

}